<div class="center jumbotron">
  <h1>HOME</h1>
    <p>This is the Home page.</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%#= link_to image_tag("logo.png", alt: "my logo"), 'example.com' %>